.footer p {
  text-align: center;
  color: #1e6664;
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12rem;
  padding-top: 12rem;
  margin: auto;
  width: 100rem;
  align-items: center;
}

.left > img {
  width: 24rem;
  display: block;
  margin-bottom: 3rem;
}

.left > a {
  width: 20rem;
  background-color: #33f3aa;
  outline: none;
  border: none;
  padding-top: 16px;
  padding-bottom: 19px;
  color: black;
  font-size: 1.5rem;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  border-radius: 5rem;
}

.images {
  display: flex;
  justify-content: space-between;
  width: 23rem;
}
.images img {
  cursor: pointer;
}

.images img:nth-child(1) {
  width: 3.5rem;
}

.right div:nth-child(2) {
  padding-top: 2rem;
  cursor: pointer;
  padding-bottom: 2rem;
}

.right ul {
  display: flex;
  list-style: none;
  padding-left: 0rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  color: #33f3aa;
}
.right ul a {
  color: #33f3aa;
}
.right ul li {
  font-size: 1.7rem;
  cursor: pointer;
}

.right span {
  font-size: 1.5rem;
  color: #33f3aa;
  text-decoration: underline;
}

@media (max-width: 1060px) {
  .content {
    width: 55rem;
  }
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
    padding-bottom: 5rem;
    width: 100%;
  }

  .left > a {
    margin-bottom: 2rem;
  }

  .right {
    width: 100%;
  }

  .images {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .uldiv {
    margin-bottom: 3rem;
  }

  .uldiv ul {
    display: flex;
    justify-content: center;
  }

  .right span {
    display: flex;
    justify-content: center;
  }

  .left > img {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 4rem;
  }
}

@media (max-width: 500px) {
  .left > a {
    font-size: 1.5rem;
    width: 18rem;
    height: 4rem;
    padding-top: 18px;
  }
  .right ul li {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .content {
    padding-top: 5rem;
  }
  .footer p {
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
